{% load humanize %}
<!-- Form Start -->
<html lang="vi">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <style>
    #tb1 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 0px solid white;
    }

    #tr1 {
      border: 0px solid white;
      line-height: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid pt-4 px-4" style="line-height: 1.5; font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid text-dark">
      <div class="text-center fw-bold" style="font-size: 15px">
        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
      </div>
      <div class="text-center fw-bold" style="font-size: 14.7px">
        <b><i>SOCIALIST REPUBLIC OF VIETNAM</i></b>
      </div>
      <div class="text-center" style="font-size: 13.5px">
        <i> Độc lập – Tự do – Hạnh Phúc </i>
      </div>
      <div class="text-center" style="font-size: 14.7px">
        <i>Independence – Freedom - Happiness</i>
      </div>
      <div class="text-center" style="font-size: 15px">
        ---------***---------
      </div>
      <br />
      <div class="text-center fw-bold" style="font-size: 18pt">
        BIÊN BẢN THANH LÝ HỢP ĐỒNG
      </div>
      <div class="text-center fw-bold" style="font-size: 18.7px">
        <i>MINUTES OF CONTRACT LIQUIDATION</i>
      </div>
      <div class="text-center fw-bold" style="font-size: 18.7px">
        <i><u>Số / No</u>: ……../TLHĐMB-2021</i>
      </div>
      <div>
        <div style="font-size: 16px;">Căn cứ hợp đồng mua bán hàng hoá số <b>......../HĐMB-2020</b> ký ngày …….
          tháng……năm
          2020 giữa CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ với BỆNH VIỆN NHI TRUNG ƯƠNG</div>
        <div style="font-size: 14.7px;">Based on the Sales contract No: <b>...../HĐMB-2020</b> signed on …/…../2020
          between TEDIS – VIET HA PHARMACEUTICAL JOINT STOCK COMPANY and NHI TRUNG ƯƠNG HOSPITAL</div>
        <div style="font-size: 16px;">Chúng tôi gồm/ We are:</div>
      </div>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 1">
        <tbody>
          <tr style="line-height: 0;">
            <td class="fw-bold"><u>BÊN A</u><span> (Bên Bán)</span></td>
            <td class="fw-bold">: CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY A </u><span> (The Seller)</span></i></td>
            <td class="fw-bold"><i>: TEDIS – VIET HA PHARMACEUTICAL JOINT STOCK COMPANY</i></td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2">
              <i>: Lô F.2B Đường số 2, Khu công nghiệp Long Hậu, xã Long Hậu,
                Huyện Cần Giuộc, Tỉnh Long An</i>
            </td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>: 028 3873 4205</td>
            <td>Fax: 028 3873 4207</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>: 1101247615</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Tài khoản số/ <i style="font-size: 11pt">Account No</i></span>
            </td>
            <td colspan="2">
              : 0181.003.223.386 VND tại Ngân hàng Vietcombank – CN Nam Sài
              Gòn
            </td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Đại diện bởi
            </td>
            <td>: Bà <span class="fw-bold">TÔ NGỌC CHI LAN</span></td>
            <td>Chức vụ: <span class="fw-bold">Quản lý Tài chính</span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
            <td>: Ms <span class="fw-bold">TO NGOC CHI LAN</span></td>
            <td>Position: <span class="fw-bold">Chief Accountant</span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <div>
            (Theo Giấy ủy quyền số 15/2021-TDVH ngày 30 tháng 12 năm 2020 của bà
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Đại diện theo pháp luật của Công ty)
          </div>
        </div>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 11pt; font-style:italic">
          <div>
            (According to the Power of Attorney No:15/2021-TDVH date 30th December, 2020 of Mrs.
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Legal Representative of company)
          </div>
        </div>
      </div>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
        <tbody>
          <tr>
            <td class="fw-bold"><u>BÊN B</u> (Bên Mua)</td>
            <td class="fw-bold" colspan="2">:</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY B </u><span> (The Buyer)</span></i></td>
            <td class="fw-bold"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>:</td>
            <td>Fax:</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>:</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Đại diện bởi
            </td>
            <td>: <span class="fw-bold"></span></td>
            <td>Chức vụ: <span class="fw-bold"></span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
            <td>: <span class="fw-bold"></span></td>
            <td>Position: <span class="fw-bold"></span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <div>
            Hôm nay ngày …………. tháng …… năm 2021, hai bên cùng nhau nhất trí thanh lý hợp đồng với các điều khoản sau:
          </div>
        </div>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 14.7px; font-style:italic">
          <div>
            Today is …… .2021 both sides agree to sign the Minutes of Contract Liquidation under the contents as
            follows:
          </div>
        </div>
      </div>
      <div class="row justify-content-start">
        <div style="line-height: 1.5; font-size: 12pt">
          <b><u>Điều 1/<i style="font-size: 11pt;"> Article </i>1:</u></b> Bên A đã giao cho Bên B hàng hoá như mô tả
          sau:
        </div>
        <div style="line-height: 1; font-size:11pt">
          <i>Party A delivered to Party B the Products as described hereafter:</i>
        </div>
        <table id="tr1" class="table text-dark" style="font-size: 16px; line-height:0">
          <tbody>
            <tr>
              <td></td>
              <td class="text-dark">
                <table class="table table-bordered border-dark">
                  <tr>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Stt</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">No</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Tên hàng hoá</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Designation of the Products</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Đvị tính</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Unit</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Số lượng</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Quantity</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Đơn giá</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Unit Price</i>
                      </div>
                      <div class="fw-normal" style="font-size: 12pt">
                        (VND)
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Thành tiền</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Amount</i>
                      </div>
                      <div class="fw-normal" style="font-size: 12pt">
                        (VND)
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th class="fw-normal" scope="row">1</th>
                    <th class="fw-bold">
                      STALLERPOINT – Hộp 1000 cây /<i> Box of 1000 points</i>
                    </th>
                    <th class="fw-normal text-center">Hộp</th>
                    <th class="fw-normal text-center">12</th>
                    <th class="fw-normal text-center">3,809,523.8</th>
                    <th class="fw-normal text-center">45,714,286</th>
                  </tr>
                  <tr>
                    <th class="text-end" colspan="5">Thuế GTGT/<i> VAT</i> (10%)</th>
                    <th class="fw-normal text-center">2,285,714</th>
                  </tr>
                  <tr>
                    <th class="text-end" colspan="5">Tổng cộng//<i> Total amount</i></th>
                    <th class="text-center">48,000,000</th>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-start">
          <div style="line-height: 1.5; font-size: 12pt">
            <b><u>Điều 2/<i style="font-size: 11pt;"> Article </i>2:</u></b>
          </div>
          <div style="line-height: 1; font-size:12pt">
            Bên A đã giao hàng cho Bên B theo đúng như mô tả trong hợp đồng, hàng mới 100% nguyên đai, nguyên kiện, đóng
            gói theo như trong hợp đồng đã ký.
          </div>
          <div style="line-height: 1; font-size:11pt">
            <i>Party A delivered the Products to Party B as described in the Sales contract, the Products are brand new,
              fully sealed and packaged as mentioned in the Sales contract.</i>
          </div>
          <div class="row justify-content-start">
            <div style="line-height: 1.5; font-size: 12pt">
              <b><u>Điều 3/<i style="font-size: 11pt;"> Article </i>3:</u></b>
            </div>
            <div style="line-height: 1; font-size:12pt">
              Bên <b>B</b> chưa thanh toán cho Bên A giá trị hợp đồng.
            </div>
            <div style="line-height: 1; font-size:11pt">
              <i>Party B did not settle the amount due for the Sales contract to Party A</i>
            </div>
            <div style="line-height: 1; font-size:12pt">
              Bên B sẽ thanh toán cho Bên A 100% giá trị hợp đồng theo điều …….. của Hợp Đồng Mua Bán số ……/HĐMB-2020
            </div>
            <div style="line-height: 1; font-size:11pt">
              <i>Party B will pay the 100% amount to Party A upon the receipt of the Products and following the article
                ….. of the Sales contract no. ...../HĐMB-2020.</i>
            </div>
            <div class="row justify-content-start">
              <div style="line-height: 1.5; font-size: 12pt">
                <b><u>Điều 4/<i style="font-size: 11pt;"> Article </i>4:</u></b>
              </div>
              <div style="line-height: 1; font-size:12pt">
                Hợp đồng số <b>..../HĐMB-2020</b> sẽ hết hiệu lực kể từ khi Bên A nhận được thanh toán từ Bên B.
              </div>
              <div style="line-height: 1; font-size:11pt">
                <i>The Contract No .../HĐMB-2020 will be liquidated after Party A receive the full amount paid by Party
                  B</i>
              </div>
              <div style="line-height: 1; font-size:12pt">
                Biên bản này được lập thành 02 (hai) bản có giá trị như nhau, Bên A giữ 01 (một) bản. Bên B giữ 01 (một)
                bản.
              </div>
              <div style="line-height: 1; font-size:11pt">
                <i>The Minutes are made in two (02) copies with same validity, Party A keeps one (01) copy, Party B
                  keeps one (01) copy.</i>
              </div>
              <table id="tb1" class="table table-borderless"
                style="text-align: center; font-family:'Times New Roman', Times, serif; ">
                <tbody>
                  <tr>
                    <td><b>ĐẠI DIỆN BÊN BÁN</b></td>
                    <td><b>ĐẠI DIỆN BÊN MUA</b></td>
                  </tr>
                  <tr>
                    <td><i><b>FOR THE SELLER</b></i></td>
                    <td><i><b>FOR THE BUYER</i></b></td>
                  </tr>
                  <tr>
                    <td><br /><br /><br /></td>
                    <td><br /></td>
                  </tr>
                  <tr>
                    <td><b>Bà TÔ NGỌC CHI LAN</b></td>
                    <td><b></b></td>
                  </tr>
                  <tr style="line-height: 0">
                    <td>Quản lý Tài chính/<i> Chief Accountant</i></td>
                    <td>

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</body>

</html>