{% load humanize %}
<!-- Form Start -->
<html lang="vi">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <style>
    #tb1 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 0px solid white;
    }

    #tr1 {
      border: 0px solid white;
      line-height: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid pt-4 px-4" style="line-height: 1.5; font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid text-dark">
      <div class="text-center fw-bold" style="font-size: 15px">
        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
      </div>
      <div class="text-center" style="font-size: 14.7px">
        <i>SOCIALIST REPUBLIC OF VIETNAM</i>
      </div>
      <div class="text-center" style="font-size: 13.5px">
        <b> Độc lập – Tự do – Hạnh Phúc </b>
      </div>
      <div class="text-center" style="font-size: 14.7px">
        <i>Independence – Freedom - Happiness</i>
      </div>
      <div class="text-center" style="font-size: 15px">
        ***** ----- *****
      </div>
      <br />
      <div class="text-center fw-bold" style="font-size: 18pt">
        PHỤ LỤC HỢP ĐỒNG
      </div>
      <div class="text-center" style="font-size: 14pt">
        <i>(Appendix contract)</i>
      </div>
      <div class="text-center fw-bold" style="font-size: 18.7px">
        Số /<i> No</i>: ……../JV-2021
      </div>

      <table id="tr1" class="table text-dark">
        <tbody>
          <tr>
            <td class="fw-bold" style="font-size: 12pt">
              &#10070;
            </td>
            <td class="text-dark" style="line-height: 1">
              <div style="font-size: 12pt;">
                Căn cứ vào hợp đồng số<b> …..</b>/ JV-2021 ngày ..... tháng ..... năm 2021 ký giữa <b>Công Ty Cổ Phần
                  Dược Phẩm
                  Tedis – Việt Hà</b> và <b>..........................................................</b> về việc mua
                bán
                sản phẩm.
              </div>
              <div style="font-size: 10pt;">
                <i>Based on Sales& Purchase Contract No........../ JV-2021 date .......... <b>between TEDIS – VIET HA
                    PHARMACEUTICAL JOINT STOCK COMPANY</b> and
                  <b>..........................................................</b> of product sales & purchasing.</i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="fw-bold" style="font-size: 12pt">
              &#10070;
            </td>
            <td class="text-dark" style="line-height: 1">
              <div style="font-size: 12pt;">
                Hôm nay, ngày ........... tháng ........... năm 2021, tại Trụ sở <b>Công Ty Cổ Phần Dược Phẩm
                  Tedis – Việt Hà</b> chúng tôi gồm có:
              </div>
              <div style="font-size: 10pt;">
                <i>Today, on ……, 2021, at the office of <b>TEDIS – VIET HA
                    PHARMACEUTICAL JOINT STOCK COMPANY,</b> we are:</i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 1">
        <tbody>
          <tr style="line-height: 0;">
            <td class="fw-bold"><u>BÊN A</u><span> (Bên Bán)</span></td>
            <td class="fw-bold">: CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY A </u><span> (The Seller)</span></i></td>
            <td class="fw-bold"><i>: TEDIS – VIET HA PHARMACEUTICAL JOINT STOCK COMPANY</i></td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2">
              <i>: Lô F.2B Đường số 2, Khu công nghiệp Long Hậu, xã Long Hậu,
                Huyện Cần Giuộc, Tỉnh Long An</i>
            </td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>: 028 3873 4205</td>
            <td>Fax: 028 3873 4207</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>: 1101247615</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Tài khoản số/ <i style="font-size: 11pt">Account No</i></span>
            </td>
            <td colspan="2">
              : 0181.003.223.386 VND tại Ngân hàng Vietcombank – CN Nam Sài
              Gòn
            </td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Đại diện bởi
            </td>
            <td>: Bà <span class="fw-bold">TÔ NGỌC CHI LAN</span></td>
            <td>Chức vụ: <span class="fw-bold">Quản lý Tài chính</span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
            <td>: Ms <span class="fw-bold">TO NGOC CHI LAN</span></td>
            <td>Position: <span class="fw-bold">Chief Accountant</span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <div>
            (Theo Giấy ủy quyền số 15/2021-TDVH ngày 30 tháng 12 năm 2020 của bà
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Đại diện theo pháp luật của Công ty)
          </div>
        </div>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 11pt; font-style:italic">
          <div>
            (According to the Power of Attorney No:15/2021-TDVH date 30th December, 2020 of Mrs.
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Legal Representative of company)
          </div>
        </div>
      </div>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
        <tbody>
          <tr>
            <td class="fw-bold"><u>BÊN B</u> (Bên Mua)</td>
            <td class="fw-bold" colspan="2">:</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY B </u><span> (The Buyer)</span></i></td>
            <td class="fw-bold"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>:</td>
            <td>Fax:</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>:</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Đại diện bởi
            </td>
            <td>: <span class="fw-bold"></span></td>
            <td>Chức vụ: <span class="fw-bold"></span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
            <td>: <span class="fw-bold"></span></td>
            <td>Position: <span class="fw-bold"></span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <div>
            <b>Sau khi thảo luận, hai bên đồng ý ký vào phụ lục với nội dung như sau:</b>
          </div>
        </div>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 14.7px; font-style:italic">
          <div>
            After discussion, both parties agreed to sign the appendix contract under the following contents:
          </div>
        </div>
      </div>
      <div class="row justify-content-start">

        <table id="tr1" class="table text-dark">
          <tbody>
            <tr>
              <td class="fw-bold" style="font-size: 12pt">
                1.
              </td>
              <td class="text-dark" style="line-height: 1">
                <div style="font-size: 12pt">
                  <b><u>Điều 1/<i style="font-size: 11pt;"> Article </i>1:</u></b> Bổ sung thêm danh mục hàng hóa tại
                  điều 1 của hợp đồng số ................. ký ngày ... tháng ..... năm ........ vào Phụ Lục Hợp Đồng.
                </div>
                <div style="font-size: 12pt;">
                  <i>Adding the list of goods in Article 1 of the contract No. ................ signed on ... month
                    ....... in the Contract Addendum</i>
                </div>
              </td>
            </tr>
        </table>
        <table id="tr1" class="table text-dark" style="font-size: 16px; line-height:0">
          <tbody>
            <tr>
              <td></td>
              <td class="text-dark">
                <table class="table table-bordered border-dark">
                  <tr>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>TT</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">No</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Sản phẩm</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Products</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Đơn vị tính</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Unit</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Đơn giá VND</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Unit Price (VAT)</i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b>Chính sách chiết khấu</b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal">Discount Policy</i>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                  </tr>
                  <tr>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                    <th class="text-center">
                      <div style="font-size: 12pt;">
                        <b></b>
                      </div>
                      <div style="font-size: 11pt">
                        <i class="fw-normal"></i>
                      </div>
                    </th>
                  </tr>
          </tbody>
        </table>
        </table>
        <table id="tr1" class="table text-dark">
          <tbody>
            <tr>
              <td class="fw-bold" style="font-size: 12pt">
                2.
              </td>
              <td class="text-dark" style="line-height: 1">
                <div style="font-size: 12pt">
                  <b><u>Điều 2/<i style="font-size: 11pt;"> Article </i>2:</u></b> Các điều khoản khác trong hợp đồng
                  mua bán hàng hóa số ……../ JV-2021 ngày ….. tháng …… năm 2021 sẽ được giữ nguyên, không thay đổi
                </div>
                <div style="font-size: 12pt;">
                  <i>Other terms in goods sale and purchase contract No……./ JV-2021 dated ……………., 2021 will be kept and
                    unchanged.</i>
                </div>
              </td>
            </tr>
        </table>
        <table id="tr1" class="table text-dark">
          <tbody>
            <tr>
              <td class="fw-bold" style="font-size: 12pt">
                3.
              </td>
              <td class="text-dark" style="line-height: 1">
                <div style="font-size: 12pt">
                  <b><u>Điều 3/<i style="font-size: 11pt;"> Article </i>3:</u></b> 3.Phụ lục này được lập thành hai (02)
                  bản mỗi bên giữ một (01) bản có giá trị pháp lý như nhau và có hiệu lực từ ngày ký.
                </div>
                <div style="font-size: 12pt;">
                  <i>This Annex made in two (02) sets with equal value each party keeps one (01) set, have the same
                    legal value and come into force from the date of its signing.</i>
                </div>
              </td>
            </tr>
        </table>
        <div class="row justify-content-start">
          <table id="tb1" class="table table-borderless"
            style="text-align: center; font-family:'Times New Roman', Times, serif;">
            <tbody>
              <tr style="line-height: 0;">
                <td><b>ĐẠI DIỆN BÊN A</b></td>
                <td><b>ĐẠI DIỆN BÊN B</b></td>
              </tr>
              <tr>
                <td><i><b>THE SELLER</b></i></td>
                <td><i><b>THE BUYER</i></b></td>
              </tr>
              <tr>
                <td><br /><br /><br /></td>
                <td><br /></td>
              </tr>
              <tr>
                <td><b>Bà TÔ NGỌC CHI LAN</b></td>
                <td><b></b></td>
              </tr>
              <tr style="line-height: 0">
                <td><b>Quản lý Tài chính/<i> Financial Manager</i></b></td>
                <td>

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>