{% load humanize %}
<!-- Form Start -->
<html lang="vi">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <style>
    #tb1 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 0px solid white;
    }

    #tr1 {
      border: 0px solid white;
      line-height: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid pt-4 px-4" style="line-height: 1.5; font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid text-dark">
      <div class="text-center fw-bold" style="font-size: 15px">
        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
      </div>
      <div class="text-center" style="font-size: 14.7px">
        <i>SOCIALIST REPUBLIC OF VIETNAM</i>
      </div>
      <div class="text-center" style="font-size: 13.5px">
        <b> Độc lập – Tự do – Hạnh Phúc </b>
      </div>
      <div class="text-center" style="font-size: 14.7px">
        <i>Independence – Freedom - Happiness</i>
      </div>
      <div class="text-center" style="font-size: 15px">
        ***** ----- *****
      </div>
      <br />
      <div class="text-center fw-bold" style="font-size: 18pt">
        PHỤ LỤC HỢP ĐỒNG
      </div>
      <div class="text-center" style="font-size: 14pt">
        <i>(Appendix contract)</i>
      </div>
      <div class="text-center fw-bold" style="font-size: 18.7px">
        Số /<i> No</i>: ……../JV-2021
      </div>
      <table id="tr1" class="table text-dark">
        <tbody>
          <tr>
            <td class="fw-bold" style="font-size: 12pt">
              &#10070;
            </td>
            <td class="text-dark" style="line-height: 1">
              <div style="font-size: 12pt;">
                Căn cứ vào hợp đồng số<b> …..</b>/ JV-2021 ngày ..... tháng ..... năm 2021 ký giữa <b>Công Ty Cổ Phần
                  Dược Phẩm
                  Tedis – Việt Hà</b> và <b>..........................................................</b> về việc mua
                bán
                sản phẩm.
              </div>
              <div style="font-size: 10pt;">
                <i>Based on Sales& Purchase Contract No........../ JV-2021 date .......... <b>between TEDIS – VIET HA
                    PHARMACEUTICAL JOINT STOCK COMPANY</b> and
                  <b>..........................................................</b> of product sales & purchasing.</i>
              </div>
            </td>
          </tr>
          <tr>
            <td class="fw-bold" style="font-size: 12pt">
              &#10070;
            </td>
            <td class="text-dark" style="line-height: 1">
              <div style="font-size: 12pt;">
                Hôm nay, ngày ........... tháng ........... năm 2021, tại Trụ sở <b>Công Ty Cổ Phần Dược Phẩm
                  Tedis – Việt Hà</b> chúng tôi gồm có:
              </div>
              <div style="font-size: 10pt;">
                <i>Today, on ……, 2021, at the office of <b>TEDIS – VIET HA
                    PHARMACEUTICAL JOINT STOCK COMPANY,</b> we are:</i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 1">
        <tbody>
          <tr style="line-height: 0;">
            <td class="fw-bold"><u>BÊN A</u><span> (Bên Bán)</span></td>
            <td class="fw-bold">: CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY A </u><span> (The Seller)</span></i></td>
            <td class="fw-bold"><i>: TEDIS – VIET HA PHARMACEUTICAL JOINT STOCK COMPANY</i></td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2">
              <i>: Lô F.2B Đường số 2, Khu công nghiệp Long Hậu, xã Long Hậu,
                Huyện Cần Giuộc, Tỉnh Long An</i>
            </td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>: 028 3873 4205</td>
            <td>Fax: 028 3873 4207</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>: 1101247615</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Người đại diện
            </td>
            <td>: Bà <span><b>TÔ NGỌC CHI LAN</b> - Kế Toán Trưởng/ <i>Chief Accountant</i></span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <div>
            (Theo Giấy ủy quyền số 15/2021-TDVH ngày 30 tháng 12 năm 2020 của bà
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Đại diện theo pháp luật của Công ty)
          </div>
        </div>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 11pt; font-style:italic">
          <div>
            (According to the Power of Attorney No:15/2021-TDVH date 30th December, 2020 of Mrs.
            <span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Legal Representative of company)
          </div>
        </div>
      </div>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
        <tbody>
          <tr>
            <td class="fw-bold"><u>BÊN B</u> (Bên Mua)</td>
            <td class="fw-bold" colspan="2">:</td>
          </tr>
          <tr style="line-height: 1; font-family: 11pt">
            <td class="fw-bold"><i><u>PARTY B </u><span> (The Buyer)</span></i></td>
            <td class="fw-bold"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Địa chỉ/ <i style="font-size: 11pt">Address</i></span>
            </td>
            <td colspan="2"><i>: </i></td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Điện thoại/ <i style="font-size: 11pt">Tel</i></span>
            </td>
            <td>:</td>
            <td>Fax:</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              Mã số thuế/ <i style="font-size: 11pt">Tax no</i></span>
            </td>
            <td>:</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              Người đại diện
            </td>
            <td>: <span class="fw-bold"></span></td>
          </tr>
          <tr style="line-height: 0; font-size:11pt; font-style:italic">
            <td>
              Represented by
            </td>
            <td>: <span class="fw-bold"></span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1; font-family: 1px">
          <b>Sau khi thỏa thuận, hai bên đồng ý ký kết hợp đồng mua bán với các
            điều khoản như sau:</b>
          <div class="row justify-content-start" style="line-height: 1; font-family: 11px; font-style:italic">
            <div>
              <i>After discussion, both parties agreed to sign the appendix contract under the following contents:</i>
            </div>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 1; font-family: 12px">
            <p><b>1. <u>Điều 1/ <i>Article 1</i></u></b> Bổ sung điều khoản sau vào hợp đồng. Áp dụng cho tất cả các sản
              phẩm mang nhãn hàng <b>DERMEDEN</b> và <b>BIORGA</b></p>
            <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
              <div>
                <i>Adding the following terms to the contract12 applicable to all <b>DERMEDEN</b> and <b>BIORGA</b>
                  branded products</i>
              </div>
            </div>
          </div>
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p>
              1.1 Giá bán của Bên Mua phải bằng giá bán niêm yết mà Bên Bán đề nghị (Giá bán đã bao gồm VAT)
            </p>
            <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
              <div>
                <i>The Buyer's selling price must be equal to the listed selling price of the Seller (Selling price
                  includes VAT)</i>
              </div>
            </div>
            <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
              <p>
                1.2 Bên Mua không được chiết khấu giá bán quá 15% cho người tiêu dùng. Khi Bên Mua có nhu cầu chiết khấu
                cao hơn mức 15% cho người tiêu dùng thì cần trao đổi thống nhất giữa hai Bên bằng cách xác nhận qua
                email.
              </p>
              <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
                <div>
                  <i>Buyer is not allowed to discount the selling price by more than 15% to consumers. When the Buyer
                    has a need for a discount higher than 15% for consumers, it is necessary to have an agreement
                    between the two Parties by email confirmation.</i>
                </div>
              </div>
            </div>
          </div>
          <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
            <tbody>
              <tr style="line-height: 0">
                <td>
                  <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;Email Bên A:
                  thanh.nlp@tedisviethapharma.vn
                </td>
              </tr>
              <tr style="line-height: 0">
                <td>
                  <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;Email Bên B:
                  --------------------------------------------------------------
                </td>
            </tbody>
          </table>
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p>
              - Khi có sự thay đổi thông tin email trên, hai Bên phải thông báo nhau bằng văn bản trước khi áp
              dụng.
            </p>
            <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
              <div>
                <i>When there is a change in the above email information, the two parties must notify each other in
                  writing letter before applied</i>
              </div>
            </div>
            <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
              <p>
                1.3 Bên Mua không được dùng Giấy xác nhận đối tác thương mại được ký kết với Bên Bán để bán cho mặt
                hàng tượng tự trên các trang thương mại điện tử mà không có chứng từ mua hàng từ Bên Bán.
              </p>
              <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
                <div>
                  <i>The Buyer don't allow to use the Certificate of Trade Partnership signed with the Seller to sell
                    similar goods on e-commerce sites without a proof of purchase from the Seller.</i>
                </div>
              </div>
              <div class="row justify-content-start">
                <div class="row justify-content-start" style="line-height: 1; font-family: 12px">
                  <p><b>2. <u>Điều 2/ <i>Article 2</i></u></b> Các điều khoản khác trong hợp đồng mua bán hàng hóa số
                    ……../ JV-2021 ngày ….. tháng …… năm 2021 sẽ được giữ nguyên, không thay đổi</p>
                  <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
                    <div>
                      <i>Other terms in goods sale and purchase contract No……./ JV-2021 dated ……………., 2021 will be kept
                        and unchanged</i>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-start">
                  <div class="row justify-content-start" style="line-height: 1; font-family: 12px">
                    <p class="fw-bold">3. <u>Điều 3/ Article 3:</u> Cam kết chung/ <i>General</i></p>
                  </div>
                  <div class="row justify-content-start" style="line-height: 1; font-family: 12px">
                    <div>
                      Nếu Bên Mua vi phạm 1 trong 3 điều khoản bổ sung tại Điều 1 thì Bên Bán sẽ ngưng cung cấp sản phẩm
                      đang bán cho Bên Mua ngay tại thời điểm phát hiện hành vi vi phạm và hợp đồng mua bán số ………/
                      JV-2021 ngày ….. tháng ……. năm 2021 sẽ tự động chấm dứt cùng thời điểm đó.
                    </div>
                    <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
                      <div>
                        <i>If the Buyer violates 1 of the 3 additional provisions in Article 1, the Seller will stop
                          providing the products being sold to the Buyer right at the time of detecting the violation
                          and the sales contract No. …………/ JV-2021 date ….. month ……. 2021 will automatically liquidated
                          at the same time</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-start">
                  <div class="row justify-content-start" style="line-height: 1; font-family: 12px">
                    <p><b>4. <u>Điều 4/ <i>Article 4</i></u></b> Phụ lục này được lập thành hai (02) bản mỗi bên giữ một
                      (01) bản có giá trị pháp lý như nhau và có hiệu lực từ ngày ký. </p>
                    <div class="row justify-content-start" style="line-height: 1; font-family: 12px; font-style:italic">
                      <div>
                        <i>This Annex made in two (02) sets with equal value each party keeps one (01) set, have the
                          same legal value and come into force from the date of its signing.</i>
                      </div>
                    </div>
                  </div>
                  <table id="tb1" class="table table-borderless"
                    style="text-align: center; font-family:'Times New Roman', Times, serif; ">
                    <tbody>
                      <tr>
                        <td><b>ĐẠI DIỆN BÊN BÁN</b></td>
                        <td><b>ĐẠI DIỆN BÊN MUA</b></td>
                      </tr>
                      <tr>
                        <td><i><b>The Seller</b></i></td>
                        <td><i><b>The Buyer</i></b></td>
                      </tr>
                      <tr>
                        <td><br /><br /><br /></td>
                        <td><br /></td>
                      </tr>
                      <tr>
                        <td><b>TÔ NGỌC CHI LAN</b></td>
                        <td><b></b></td>
                      </tr>
                      <tr style="line-height: 0">
                        <td><b>Kế Toán Trưởng/<i> Chief Accountant</i></b></td>
                        <td>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>




              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous"></script>
</body>

</html>