{% load humanize %}
<!-- Form Start -->
<html lang="vi">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <style>
    #tb1 {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      border: 0px solid white;
    }

    #tr1 {
      border: 0px solid white;
      line-height: 1;
    }
  </style>
</head>

<body>
  <div class="container-fluid pt-4 px-4" style="line-height: 1.5; font-family: 'Times New Roman', Times, serif">
    <div class="container-fluid text-dark">
      <div class="text-center fw-bold" style="font-size: 15px">
        CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM
      </div>
      <div class="text-center" style="font-size: 13.5px">
        <i> Độc lập – Tự do – Hạnh Phúc </i>
      </div>
      <div class="text-center" style="font-size: 15px">
        ---------***---------
      </div>
      <br />
      <div class="text-center fw-bold" style="font-size: 24px">
        HỢP ĐỒNG MUA BÁN HÀNG HOÁ
      </div>
      <div class="text-center fw-bold" style="font-size: 18.7px">
        <i><u>Số</u>: 38/JV-2021</i>
      </div>
      <i style="line-height: 1; font-family: 16px">Hợp đồng này làm tại Thành phố Hồ Chí Minh, ngày 20 tháng 04 năm
        2021</i>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height:0">
        <tbody>
          <tr>
            <td class="fw-bold" style="font-size: 13.4px; line-height: 1">-</td>
            <td class="text-dark" style="line-height: 1;">Căn cứ vào Luật Thương Mại số 36/2005/QH11 ngày 14/06/2005 của
              Quốc Hội và các Nghị định, Thông tư và văn bản hướng dẫn thi hành Luật Thương mại.</td>
          </tr>
          <tr>
            <td class="fw-bold" style="font-size: 13.4px;">-</td>
            <td class="text-dark">Căn cứ vào thương lượng của hai bên.</td>
          </tr>
        </tbody>
      </table>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 1">
        <tbody>
          <tr>
            <td class="fw-bold"><u>BÊN A</u><span> (Bên Bán)</span></td>
            <td class="fw-bold">: CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ</td>
          </tr>
          <tr style="line-height: 1">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Địa chỉ
            </td>
            <td colspan="2">
              <i>: Lô F.2B Đường số 2, Khu công nghiệp Long Hậu, xã Long Hậu,
                Huyện Cần Giuộc, Tỉnh Long An</i>
            </td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Điện
              thoại
            </td>
            <td>: 028 3873 4205</td>
            <td>Fax: 028 3873 4207</td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Mã số
              thuế
            </td>
            <td>: 1101247615</td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Tài khoản
              số
            </td>
            <td colspan="2">
              : 0181.003.223.386 VND tại Ngân hàng Vietcombank – CN Nam Sài
              Gòn
            </td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Đại diện
              bởi
            </td>
            <td>: Bà <span class="fw-bold">TÔ NGỌC CHI LAN</span></td>
            <td>Chức vụ: <span class="fw-bold">Quản lý Tài chính</span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <p>
            (Theo Giấy ủy quyền số 287/2021/TDVH-AD ngày 30 tháng 12 năm 2021
            của bà<span class="font-italic fw-bold">
              EDGARD-ROSA SÉVERINE.</span>
            – Đại diện theo pháp luật của Công ty)
          </p>
        </div>
      </div>
      <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
        <tbody>
          <tr>
            <td class="fw-bold"><u>BÊN B</u> (Bên Mua)</td>
            <td class="fw-bold" colspan="2">:</td>
          </tr>
          <tr style="line-height: 0.5">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Địa chỉ
            </td>
            <td colspan="2"><i>: </i></td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Điện
              thoại
            </td>
            <td>:</td>
            <td>Fax:</td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Mã số
              thuế
            </td>
            <td>:</td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Tài khoản
              số
            </td>
            <td colspan="2">:</td>
          </tr>
          <tr style="line-height: 0">
            <td>
              <span style="font-size: 5px">&#9899;</span>&emsp;&ensp;Người đại
              diện
            </td>
            <td>: <span class="fw-bold"></span></td>
            <td>Chức vụ: <span class="fw-bold"></span></td>
          </tr>
        </tbody>
      </table>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <p>
            Sau khi thỏa thuận, hai bên đồng ý ký kết hợp đồng mua bán với các
            điều khoản như sau:
          </p>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
          <p class="fw-bold"><u>Điều 1:</u> Hàng Hóa</p>
        </div>

        <table id="tr1" class="table text-dark" style="font-family: 16px; line-height:0">
          <tbody>
            <tr>
              <td class="" style="line-height: 1">1.1</td>
              <td class="text-dark" style="line-height: 1;">Trong thời gian hợp đồng có hiệu lực, Bên Bán
                <span class="fw-bold">
                  - CÔNG TY CỔ PHẦN DƯỢC PHẨM TEDIS-VIỆT HÀ</span>
                đồng ý cung cấp hàng hóa cho Bên Mua
                <span class="fw-bold">
                  - CÔNG TY CỔ PHẦN CÔNG NGHỆ Y TẾ MEDR</span>
                đảm theo từng đơn đặt hàng cụ thể. Chi tiết hàng hóa, số lượng
                giao hàng và các điều khoản khác nếu có bổ sung sẽ được chỉ rõ
                trong đơn đặt hàng hoặc trong phụ kiện bổ sung của từng thời kỳ.
                Chi tiết hàng hóa, đơn giá được liệt kê như sau:
              </td>
            </tr>
            <tr>
              <td class="fw-bold" style="font-size: 13.4px;"></td>
              <td class="text-dark">
                <table class="table table-bordered border-dark">
                  <thead>
                    <tr>
                      <th class="fw-bold" scope="col">Stt</th>
                      <th class="fw-bold" scope="col">Tên Hàng Hóa</th>
                      <th class="fw-bold" scope="col">ĐVT</th>
                      <th class="fw-bold" scope="col">Đơn giá bao gồm VAT</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th class="fw-normal" scope="row">1</th>
                      <th class="fw-bold" scope="col">
                        Dung dịch vệ sinh - SAFORELLE gentle cleansing care 100ml
                      </th>
                      <th class="fw-normal" scope="col">Hộp 100ml, dạng gel</th>
                      <th class="fw-normal" scope="col">108.000 VNĐ/ Hộp</th>
                    </tr>
                    <tr>
                      <th class="fw-normal" scope="row">2</th>
                      <th class="fw-bold" scope="col">
                        Gel làm ẩm và bôi trơn âm đạo hộp 8 ống 5ml-MUCOGYNE GEL VAGINAL
                        B/8 doses 5ml
                      </th>
                      <th class="fw-normal" scope="col">Hộp 8 ống, dạng gel</th>
                      <th class="fw-normal" scope="col">420.000 VNĐ/ Hộp</th>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
          <p>
            1.2 Bên mua sẽ gửi đơn đặt hàng cho Bên bán bằng văn bản (bản chính
            hoặc bản fax) trong vòng 03 ngày trước khi xuất hàng. Nếu không có
            sự dồng ý của Bên bán thì bên mua không được từ chối nhận hàng sau
            khi đã gởi đơn đặt hàng
          </p>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p class="fw-bold"><u>Điều 2:</u> Chất lượng hàng hoá</p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>
              2.1 Sản phẩm đã được Cục Quản lý Dược – Bộ Y tế cấp phiếu công bố
              mỹ phẩm.
            </p>
          </div>
          <div class="row justify-content-start" style="font-family: 16px">
            <p>
              2.2 Bên A đảm bảo rằng Sản phẩm đạt tiêu chuẩn nhà sản xuất tại
              thời điểm giao hàng tại kho của Bên B ở Thành phố Hồ Chí Minh và
              Bên A sẽ không chịu trách nhiệm về chất lượng Sản phẩm sau khi
              giao hàng. Do đó, tất cả các đảm bảo khác dưới bất cứ hình thức
              nào, dù rõ ràng hay ngụ ý đều loại trừ.
            </p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p class="fw-bold"><u>Điều 3:</u> Đóng gói</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p>3.1 Sản phẩm đáp ứng quy định ghi nhãn mỹ phẩm của Việt nam.</p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>
              3.2 Sản phẩm được sắp xếp và đóng gói giao nhận trong thùng carton
              chuẩn.
            </p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p class="fw-bold"><u>Điều 4:</u> Phương thức thanh toán</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p>
              4.1 <u>Phương thức thanh toán:</u> Bên B thực hiện việc thanh toán
              bằng chuyển khoản bằng tiền đồng Việt Nam trong vòng 30 ngày kể từ
              ngày xuất hoá đơn của từng đơn hàng
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p>4.2 <u>Phạt chậm thanh toán:</u></p>
            <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
              <tbody>
                <tr style="line-height: 1">
                  <td>
                    <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;Nếu Bên B chưa
                    thanh toán tiền mua hàng hoặc
                    thanh toán không đủ số tiền trên hóa đơn cho Bên A trong
                    thời hạn được nêu tại mục 4.1, thì số tiền quá hạn sẽ phải
                    chịu lãi suất do chậm thanh toán bằng 1,50% mỗi tháng. Tiền
                    lãi do chậm thanh toán này sẽ phải thanh toán vào ngày đầu
                    của mỗi tháng. Bất kỳ khoản thanh toán nào của Bên B trước
                    tiên sẽ được dùng để khấu trừ khoản tiền lãi do chậm thanh
                    toán nếu có và sau đó số tiền còn lại sẽ được dùng để thanh
                    toán cho các khoản tiền phải trả khác của Bên B cho Bên A.
                  </td>
                </tr>
                <tr style="line-height: 1">
                  <td>
                    <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;Trong từng
                    trường
                    hợp chưa thanh toán cụ thể
                    bên A sẽ tạm thời ngưng cung cấp hàng hóa và tiến hành các
                    biện pháp phù hợp cho tới khi việc thanh toán công nợ được
                    thực hiện đầy đủ
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>
              4.3 Tất cả các phí ngân hàng phát sinh do chuyển khoản sẽ được
              tính vào Bên B.
            </p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 1.25; font-family: 16px">
            <p class="fw-bold"><u>Điều 5:</u> Giao nhận – Chứng từ</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              5.1 Việc giao nhận được tiến hành từng đơn đặt hàng. Ngày giao
              nhận sẽ được Bên B thông báo bằng văn bản cho Bên A.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              5.2 Sản phẩm sẽ được giao nhận tại kho của Bên B trong vòng một
              (01) ngày làm việc kể từ ngày xuất hoá đơn. Trường hợp Bên B không
              thể nhận Sản phẩm theo ngày giao nhận đã thoả thuận thì phải thông
              báo lý do bằng văn bản cho Bên A.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              5.3 Quyền sở hữu Sản phẩm sẽ chuyển giao cho Bên B ngay khi Bên A
              đã được thanh toán đầy đủ giá trị Sản phẩm. Khi đã giao nhận Sản
              phẩm, những rủi ro về Sản phẩm cũng sẽ được chuyển cho Bên B.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>5.4 Chứng từ Bên A cung cấp cho từng lần giao hàng</p>
          </div>
          <table id="tr1" class="table text-dark" style="font-family: 16px; line-height: 0">
            <tbody>
              <tr style="line-height: 0">
                <td>
                  <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;1 Phiếu xuất kho
                </td>
              </tr>
              <tr style="line-height: 0">
                <td>
                  <span style="font-size: 5px">&emsp;&emsp;&emsp;&emsp;&emsp;&#9899;</span>&emsp;&ensp;1 Hóa đơn chuyển
                  đổi từ hóa đơn điện tử
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p class="fw-bold"><u>Điều 6:</u> Bảo quản – Bảo hiểm</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              6.1 Bên B chịu trách nhiệm bảo quản Sản phẩm theo đúng hướng dẫn
              được ghi trên bao bì Sản phẩm và/hoặc trong tờ hướng dẫn sử dụng
              và theo đúng các hướng dẫn của cơ quan quản lý đối với mỹ phẩm nếu
              có.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>6.2 Bên B sẽ mua bảo hiểm tương ứng cần thiết cho Sản phẩm.</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              6.3 Bất kỳ sự khác biệt về chất lượng so với với các điều khoản
              đặt hàng của Bên B (đã được Bên A chấp thuận), sẽ được Bên B thông
              báo bằng văn bản cho Bên A trong vòng tối đa mười (10) ngày làm
              việc kể từ ngày nhận Sản phẩm như đã ghi trên Biên bản giao nhận
              Sản phẩm được ký bởi cả hai bên, nếu không Sản phẩm được coi là
              phù hợp với đơn hàng của Bên B và tiêu chuẩn chất lượng Sản phẩm.
              Nếu vấn đề chất lượng thuộc lỗi Bên A, bằng chi phí của mình Bên A
              sẽ thay thế Sản phẩm hư hỏng, khiếm khuyết trong vòng mười (10)
              ngày sau khi nhận được văn bản thông báo của Bên B., Bất kỳ khiếu
              nại về chất lượng mà không liên quan đến việc bảo quản Sản phẩm
              sau thời gian nêu trên cho đến khi hết hạn sử dụng của Sản phẩm sẽ
              được Bên B thông báo bằng văn bản cho Bên A ngay khi xảy ra và các
              biện pháp khắc phục nếu có sẽ được thông báo cho Bên B ngay khi
              Bên A nhận được những phản hồi từ phía nhà sản xuất.
            </p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p class="fw-bold"><u>Điều 7:</u> Cam kết chung</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              7.1 Mọi tranh chấp liên quan đến hợp đồng mua bán mà không giải
              quyết bằng sự hòa giải sẽ được gửi đến Trung tâm trọng tài quốc tế
              Việt Nam (VIAC) để chờ phân giải cuối cùng theo các quy luật phân
              xử của VIAC. Nơi phân xử sẽ tại Thành phố Hồ Chí Minh và ngôn ngữ
              sử dụng sẽ là tiếng Việt.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              7.2 Chi phí hợp pháp, chi phí toà án và các chi phí khác mà một
              bên phải gánh chịu trong quá trình tranh chấp sẽ được phân chia
              cho các bên theo quyết định của toà án phân xử .
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              7.3 Bất kỳ sự thay đổi hay sửa đổi bổ sung các điều khoản của hợp
              đồng sẽ được ghi bằng văn bản và phải có sự đồng ý của cả hai bên.
            </p>
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p class="fw-bold"><u>Điều 8:</u> Hiệu lực của hợp đồng</p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              8.1 Hợp đồng này có hiệu lực từ ngày ký cho đến ngày
              <b>31/12/2021</b>
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>
              8.2 Hợp đồng này sẽ tự động được thanh lý khi các điều khoản của
              hợp đồng hết hạn theo điều 8.1
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 1; font-family: 16px">
            <p>
              8.3 Nếu sau thời hạn hợp đồng mà hai bên muốn tiếp tục quan hệ mua
              bán theo điều khoản đã thỏa thuận thì có thể lập phụ lục để gia
              hạn hợp đồng này và trong thời gian thương lượng, trừ trường hợp
              hai bên có thỏa thuận khác.
            </p>
          </div>
          <div class="row justify-content-start" style="line-height: 0; font-family: 16px">
            <p>
              8.4 Hợp đồng này được lập thành 02 (hai) bản có giá trị như nhau,
              mỗi bên giữ 01 (một) bản.
            </p>
          </div>
        </div>
        <table id="tb1" class="table table-borderless" style="text-align: center">
          <tbody>
            <tr>
              <td><b>ĐẠI DIỆN BÊN BÁN</b></td>
              <td><b>ĐẠI DIỆN BÊN MUA</b></td>
            </tr>
            <tr>
              <td><br /><br /><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><b>TÔ NGỌC CHI LAN</b></td>
              <td><b>BÙI ĐÌNH HƯNG</b></td>
            </tr>
            <tr style="line-height: 0">
              <td><i>Quản lý Tài chính</i></td>
              <td>
                <i><b>Giám Đốc</b></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"></script>
</body>

</html>