{% extends 'sale_agreement/_Master.html' %}
{% block title_tab %}Sales app | Product Update{% endblock %}
{% load static %}
{% load humanize %}

{% block main_content %}
<!-- Form Start -->
<h5 class="title" style="text-align: center; margin-top:20px">Product edit</h5>
    <form method="post">
        {% csrf_token %}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item text-dark" role="presentation">
                <button class="nav-link active fw-bold" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                    type="button" role="tab" aria-controls="home" aria-selected="true" style="color: #9b1b14;">Product Info</button>
            </li>
            <li class="nav-item text-dark" role="presentation">
                <button class="nav-link fw-bold" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                    type="button" role="tab" aria-controls="profile" aria-selected="false" style="color: #9b1b14;">Price</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link fw-bold" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                    type="button" role="tab" aria-controls="contact" aria-selected="false" style="color: #9b1b14;">Registration Information
                    Info</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="container">
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="product_name" class="form-label fw-bold text-dark">Product name</label>
                            {{ form_update_product.product_name }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="product_name_on_registration_document" class="form-label fw-bold text-dark">Product name on Registration document</label>
                            {{ form_update_product.product_name_on_registration_document }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="product_code" class="form-label fw-bold text-dark" >Product Code</label>
                            {{ form_update_product.product_code }}
                        </div>
                        <div class="col">
                            <label for="product_type" class="form-label fw-bold text-dark" >Product Type</label>
                            {{ form_update_product.product_type }}
                        </div>
                        <div class="col">
                            <label for="product_unit" class="form-label fw-bold text-dark" >Product Unit</label>
                            {{ form_update_product.product_unit }}
                        </div>
                        <div class="col">
                            <label for="packing_size" class="form-label fw-bold text-dark" >Packing Size</label>
                            {{ form_update_product.packing_size }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="product_category" class="form-label fw-bold text-dark" >Product Category</label>
                            {{ form_update_product.product_category }}
                        </div>
                        <div class="col">
                            <label for="product_Brand" class="form-label fw-bold text-dark" >Product Brand</label>
                            {{ form_update_product.product_brand }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="manufacture" class="form-label fw-bold text-dark" >Manufacture</label>
                            {{ form_update_product.manufacture }}
                        </div>
                        <div class="col">
                            <label for="manufacturing_country" class="form-label fw-bold text-dark" >Manufacturing Country</label>
                            {{ form_update_product.manufacturing_country }}
                        </div>
                        <div class="col">
                            <label for="intended_use" class="form-label fw-bold text-dark" >Intended Use</label>
                            {{ form_update_product.intended_use }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="ingredient_list" class="form-label fw-bold text-dark" >Ingredient List</label>
                            {{ form_update_product.ingredient_list }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="expiry_date" class="form-label fw-bold text-dark" >Shelf Life</label>
                            <br>
                            {{ form_update_product.expiry_date }}
                        </div>
                        <div class="col">
                            <label for="product_remark" class="form-label fw-bold text-dark" >Product Remark</label>
                            {{ form_update_product.product_remark }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container">
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="vat" class="form-label fw-bold text-dark" >VAT</label>
                            {{ form_update_product.vat }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="retail_selling_price_wo_vat" class="form-label fw-bold text-dark" >Retail Selling Price Wo VAT</label>
                            {{ form_update_product.retail_selling_price_wo_vat }}
                        </div>
                        <div class="col">
                            <label for="retail_selling_price_vat" class="form-label fw-bold text-dark" >Retail Selling Price VAT</label>
                            {{ form_update_product.retail_selling_price_vat }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="selling_price_distributor_wo_vat" class="form-label fw-bold text-dark" >Selling Price Distributor Wo VAT</label>
                            {{ form_update_product.selling_price_distributor_wo_vat }}
                        </div>
                        <div class="col">
                            <label for="selling_price_distributor_vat" class="form-label fw-bold text-dark" >Selling Price Distributor VAT</label>
                            {{ form_update_product.selling_price_distributor_vat }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="selling_price_etc_wo_vat" class="form-label fw-bold text-dark" >Selling Price ETC Wo VAT</label>
                            {{ form_update_product.selling_price_etc_wo_vat }}
                        </div>
                        <div class="col">
                            <label for="selling_price_etc_vat" class="form-label fw-bold text-dark" >Selling Price ETC VAT</label>
                            {{ form_update_product.selling_price_etc_vat }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="selling_price_otc_wo_vat" class="form-label fw-bold text-dark" >Selling Price OTC Wo VAT</label>
                            {{ form_update_product.selling_price_otc_wo_vat }}
                        </div>
                        <div class="col">
                            <label for="selling_price_otc_vat" class="form-label fw-bold text-dark" >Selling Price OTC VAT</label>
                            {{ form_update_product.selling_price_otc_vat }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="container">
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="registraion_approval_date" class="form-label fw-bold text-dark" >Registration Approval Date</label>
                            <br>
                            {{ form_update_product.registraion_approval_date }}
                        </div>
                        <div class="col">
                            <label for="registraion_expiry_date" class="form-label fw-bold text-dark" >Registration Expiry Date</label>
                            <br>
                            {{ form_update_product.registraion_expiry_date }}
                        </div>
                    </div>
                    <div class="row align-items-start" style="margin-top: 10px;">
                        <div class="col">
                            <label for="registraion_reference" class="form-label fw-bold text-dark" >Registration Reference</label>
                            {{ form_update_product.registraion_reference }}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px; margin-bottom: 20px; margin-right: 20px">
    <a class="btn btn-secondary" href="{% url 'sale_management:product1' 0 %}" role="button">Close</a>
    <button type="submit" class="btn text-white" name="btnproductupdate" value="Product update" style="background-color: #9b1b14;">Update</button>
</div>
</form>

<!-- Form End -->
{% endblock %}